/* :root {
    var(--color)
} */

body {
    background-color: blueviolet;
}

/* ---------- sign in page styles ---------- */

.signin-container {
    background-color: #DA292A;
    display: flex;
    flex-direction: column;
    padding: 30px;
    height: 100vh;
}
.signin-container input {
    background-color: hsl(0, 0%, 100%);
    margin: 5px;
    height: 30px;
    border: none;
}
.signin-container p {
    text-align: center;
    color: white;
    font-weight: 600;
}
#signin-btn {
    background-color: rgb(118, 255, 106);
}
#register-btn {
    background-color: rgb(109, 226, 255);
}

.signin-logo {
    height:300px;
    width: 300px;
}




/* ---------- profile creation page styles ---------- */